{% extends "layout.html" %}

{% block navright %}
{% if user %}
<li>
  <a href="{{ user.uri }}">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    {{ user.userName }}
  </a>
</li>
<li>
  <a href="{{ url_for('logout') }}">
    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
    Logout
  </a>
</li>
{% else %}
<li>
  <a href="{{ url_for('login') }}">
    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
    Login
  </a>
</li>
{% endif %}
{% endblock %}

{% block banner %}
{% if not user %}
<div class="jumbotron">
  <div class="container">
    <h1>Phabricator Ban</h1>
    <p>Allow members of the <code>#{{ACL_GROUP}}</code> Phabricator project
to disable Phabricator user accounts.</code></p>
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
{% if user %}
{% if can_ban %}
<form method="POST" action="{{ url_for('ban') }}">
  <div class="form-group">
    <label for="phabuser">Phabricator user to disable</label>
    <input type="text" class="form-control" id="phabuser" name="phabuser">
  </div>
  <button type="submit" class="btn btn-danger">Disable user</button>
</form>
{% else %}
    <div class="alert alert-warning" role="alert">
        Sorry {{ user.userName }}. You are not authorized to ban accounts. You
        will need to be added to the <code>#{{ACL_GROUP}}</code> Phabricator
        project by an existing member.
    </div>
{% endif %}
{% else %}
<a class="btn btn-primary btn-lg center-block" href="{{ url_for('login') }}">
  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
  Login using Phabricator OAuth
</a>
{% endif %}
  </div>
</div>
{% endblock %}
